<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form</title>
  <link rel="stylesheet" href="/user/css/login.css">
  <style>
    body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://img.freepik.com/premium-photo/full-size-photo-young-attractive-woman-happy-positive-smile-wear-casual-outfit-isolated-pink-color-background_525549-6199.jpg?w=740');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top; /* Adjusted background position */
}
</style>
</head>
<body>
<div class="login">
  <h3 class="active" > RESET PASSWORD </h3>
  <form  method="post" action="/forgot">
    <span>Email</span>
    <input type="text" class="text" name="email">
    <span id="emailError" class="error" style="color: red;"></span>
    <br>
    <br>
    <button class="signin">
        send and Reset Link
      </button>
  <br>
    
  </form>
  <%
  if(typeof message !=='undefined'){
    %>
    <script>
    alert('<%= message %>');

  </script>
    <% } %>
</div>
</body>
</html>